<!DOCTYPE html>
<html>
<head>
<title>VocaMinder</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">VocaMinder</div>
    </div>

    <ul class="nav navbar-nav">
      <li><a href="/vocab/all">List words</a></li>
      {{if .AuthEnabled}}
        <li><a href="/vocab/new">Add words</a></li>
        <li><a href="/vocab/learn">Learn words</a></li>
      {{end}}
    </ul>

    <!-- [START auth] -->
    {{if .AuthEnabled}}
      <form method="post" action="{{.LogoutURL}}" class="navbar-form navbar-right">
        <button class="btn btn-default">Log out</button>
      </form>
      {{else}}
      <div class="navbar-text navbar-right">
        <a href="{{.LoginURL}}">Log in</a>
      </div>
    {{end}}
    <!-- [END auth] -->
  </div>
</div>
<div class="container">
Vocab list
</div>
</body>
</html>
